.project-img {
    height: 300px;
}

.project-img-container {
    margin-right: 100px;
}

.project {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 150px;
}

.project-info {
    width: 25vw;
}

h2 {
    color: #FF4747;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h3 {
   color: #FA7902;
   font-size: 24px;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 16px;
}

.button-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.button-red {
    background-color: #FF4747;
    width: 150px;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;

    &:hover {
        background-color: #FA7902;
    }
}

.button-transparent {
    background-color: #141D2F;
    border: 1px solid #FA7902;
    width: 150px;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #FA7902;
    } 
}

.margin-right {
    margin-right: 32px;
}