<div class="project">
    <div class="project-img-container">
        <img class="project-img" [src]="imgSrc">
    </div>

    <div class="project-info">
        <h2 class="project-h2">{{title}}</h2>
        <h3 class="project-h3">{{technologies}}</h3>
        <span>
            {{description}}
        </span>
        <div class="button-container">
            <button class="button-red margin-right">Live test</button>
            <button class="button-transparent">Github</button>
        </div>
    </div>
</div>
