<div class="project">
    <div class="project-img-container">
        <img class="project-img" [src]="imgSrc">
    </div>

    <div class="project-info">
        <h2 class="project-h2">{{title}}</h2>
        <h3 class="project-h3">{{technologies}}</h3>
        <span>
            {{description}}
        </span>
        <div class="button-container">
            <a [href]="testLink" target="_blank">
                <button class="button-red margin-right">Live test</button>
            </a>
            <a [href]="gitLink" target="_blank">
                <button class="button-transparent">Github</button>
            </a>
        </div>
    </div>
</div>