<div class="footer-line"></div>

<div class="footer-container">
    <div>
        <div class="name-logo">
            <span>M</span>
            <span class="red">a</span>
            <span>r</span>
            <span>i</span>
            <span class="orange">o</span>
        </div>
        <span class="impressum">Impressum</span>
    </div>
    <span class="copyright">© Mario Haefs 2023</span>
    <div>
        <img class="social-icon margin" src="/assets/img/github.png">
        <img class="social-icon margin" src="/assets/img/email.png">
        <img class="social-icon" src="/assets/img/linkedin.png">
    </div>
</div>