.footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-line {
    width: 100vw;
    height: 0px;
    border: 2px solid #FA7902;
}

.footer-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    z-index: 10;
    background-color: #141D2F;
}

.name-logo {
    font-size: 48px;
    font-weight: 600;
    height: 60px;
    cursor: pointer;
}

.copyright {
    font-size: 23px;
}

.impressum {
    position: relative;
    padding-left: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 28%;
        transform: translateX(-50%);
        width: 50%;
        border-bottom: 2px solid #FF4747;
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
}
