<div class="footer">

    <div class="footer-line"></div>

    <div class="footer-container">
        <div (click)="scrollToComponent('welcome');" class="logo-container">
            <div class="name-logo">
                <span>M</span>
                <span class="red">a</span>
                <span>r</span>
                <span>i</span>
                <span class="orange">o</span>
            </div>
            <a routerLink="/imprint" class="impressum">Imprint</a>
        </div>
        <span class="copyright">© Mario Haefs 2023</span>
        <div>
            <a href="https://github.com/MarioHaefs" target="_blank">
                <img class="social-icon margin" src="/assets/img/github.png" alt="Github">
            </a>            
            <img (click)="scrollToComponent('contact');" class="social-icon margin" src="/assets/img/email.png">
            <img class="social-icon" src="/assets/img/linkedin.png">
        </div>
    </div>
</div>