.about-me-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 200px;
    margin-top: 100px;
}

.h1-about-me {
    font-size: 90px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

p {
    font-size: 16px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.text-block {
    display: flex;
    align-items: center;
}

.about-me-icons {
    height: 50px;
    margin-right: 32px;
}

.fix-margin {
    margin-right: 46px;
}

.portrait-img {
    height: 400px;
    position: absolute;
    bottom: 7%;
    left: 64%;
}

.blur2-img {
    position: absolute;
    bottom: 20%;
    left: 75%;
    z-index: -1;
}

.circle-img {
    position: absolute;
    top: 15%;
    left: 62%;
    z-index: 3;
}

@media (max-width: 1470px) {
    .circle-img {
        left: 53%;
    }

    .h1-about-me {
        font-size: 70px;
    }
}

@media (max-width: 1200px) {
    .circle-img {
        width: 600px;
        left: 60%;
        top: 30%;
    }
}

@media (max-width: 1100px) {
    .circle-img {
        left: 55%;
    }

    .h1-about-me {
        font-size: 60px;
    }
}

@media (max-width: 970px) {
    .circle-img {
        display: none;
    }

    .about-me-content {
        width: auto;
    }

    .blur2-img {
        position: absolute;
        bottom: 0%;
        left: 70%;
    }
}

@media (max-width: 800px) {
    .about-me-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .h1-about-me {
        font-size: 50px;
    }
}

@media (max-width: 600px) {
    .about-me-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .h1-about-me {
        font-size: 45px;
    }

    .about-me-icons {
       margin-right: 10px;
    }

    .fix-margin {
        margin-right: 24px;
    }

}