<div class="about-me-container">
    <div class="about-me-content">
        <h1 class="h1-about-me">About me</h1>

        <div>
            <p>
                I am a front-end developer based in Mönchengladbach, Germany with experience in building web apps using
                JavaScript & Angular.
            </p>

            <div class="text-block">
                <img class="about-me-icons fix-margin" src="/assets/img/bulb.png">
                <p>
                    In 2022, I stumbled upon a coding tutorial on YouTube by chance. Out of curiosity, I reprogrammed it
                    and quickly realized that coding brought me great joy. After reprogramming several tutorials, I
                    began to seriously consider learning to code professionally. Surprisingly, the programmer from whom
                    I had reprogrammed the tutorials was actually offering training for career changers to become
                    professional programmers. After a few months of consideration, I decided to make the career change.
                </p>
            </div>

            <div class="text-block">
                <img class="about-me-icons" src="/assets/img/puzzle.png">
                <p>
                    In January 2023, I started an online coding bootcamp at the Developer Akademie, a professional
                    coding school based in Munich. It has been an incredible journey filled with challenges, learning,
                    and growth. Now, I am looking forward to starting my career in the IT industry!
                </p>
            </div>
        </div>
    </div>

    <div>
        <img class="circle-img" src="/assets/img/portrait-circle.png">
        <img class="blur2" src="/assets/img/blur2.png">
    </div>
</div>