.about-me-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 150px;
    margin-top: 150px;
}

.h1-about-me {
    font-size: 90px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 16px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.text-block {
    display: flex;
    align-items: center;
}

.about-me-icons {
    height: 50px;
    margin-right: 32px;
}

.fix-margin {
    margin-right: 46px;
}

.portrait-img {
    height: 400px;
    position: absolute;
    bottom: 7%;
    left: 64%;
}

.blur2-img {
    position: absolute;
    bottom: 20%;
    left: 75%;
}

.circle-img {
    position: absolute;
    top: 15%;
    left: 62%;
}