<div class="about-me-container">
    <div class="about-me-content">
        <h1 class="h1-about-me">About me</h1>

        <div>
            <p>
                I am a front-end developer based in Mönchengladbach, Germany with experience in building web apps using
                JavaScript & Angular.
            </p>

            <div class="text-block">
                <img class="about-me-icons fix-margin" src="/assets/img/bulb.png">
                <p>
                    In 2022, I came across a coding tutorial on YouTube by chance, which I reprogrammed out of
                    curiosity. I enjoyed it a lot and after reprogramming a few more tutorials, I thought about learning
                    to code professionally. Surprisingly, the programmer from whom I reprogrammed the tutorials is
                    actually training career changers to become professional programmers. After thinking about the
                    career change for a few months, I decided to take the step.
                </p>
            </div>

            <div class="text-block">
                <img class="about-me-icons" src="/assets/img/puzzle.png">
                <p>
                    In January 2023, I finally started an online coding bootcamp at the
                    Developer Akademie, a professional coding school based in Munich. It has been an incredible journey
                    filled with challenges, learning, and growth. Now, I am looking forward to starting my
                    career in IT!
                </p>
            </div>
        </div>
    </div>

    <div class="about-me-portrait">
        <img class="circle-img" src="/assets/img/circle.png">
        <img class="circle-line-img" src="/assets/img/circle_line.png">
        <img class="blur2-img" src="/assets/img/blur2.png">
        <img class="portrait-img" src="/assets/img/placeholder.png">
    </div>
</div>