<div class="project">

    <div class="project-info project-right-addeds">
        <h2 class="project-h2">El Pollo Loco</h2>
        <h3 class="project-h3">JavaScript | HTML | CSS</h3>
        <span>
            A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and poison bottles
            to fight against el pollo loco.
        </span>
        <div class="button-container">
            <button class="button-red margin-right">Live test</button>
            <button class="button-transparent">Github</button>
        </div>
    </div>

    <div>
        <img class="project-img" src="/assets/img/pollo_loco.png">
    </div>
</div>