<header [class.header-dark]="darkMode">


    <img *ngIf="!darkMode" routerLink="/" class="mh-logo" src="assets/img/MH-logo.png">
    <img *ngIf="darkMode" routerLink="/" class="mh-logo" src="assets/img/MH-logo-black.png">

    <div [class.dark-links]="darkMode">
        <a routerLink="/">Home</a>
        <!-- <a href="#">Curriculum</a>
        <a href="#">Projects</a> -->
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data-Protection</a>
    </div>
</header>
