header {
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141D2F;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 23px;

    &:hover {
        color: #FA7902;
    }
}

a.active-link {
    position: relative;
    color: #FA7902;

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #FF4747;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 55px;   
    }
}

.orange {
    color: #FA7902;
}