header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 32px;
    font-size: 23px;

    &:hover {
        color: #FA7902;
    }
}