<app-menu></app-menu>
<app-welcome id="welcome"></app-welcome>
<app-about-me id="aboutMe"></app-about-me>
<app-my-skills id="mySkills"></app-my-skills>
<app-portfolio id="myPortfolio"></app-portfolio>
<app-project-left 
    [imgSrc]="'/assets/img/join.png'" 
    [title]="'Join'" 
    [technologies]="'JavaScript | HTML | CSS'" 
    [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'"
    [testLink]="'https://join.mario-haefs.de/'"
    [gitLink]="'https://github.com/MarioHaefs/Join'"
></app-project-left>
<app-project-right
    [imgSrc]="'/assets/img/pollo_loco.png'" 
    [title]="'El Pollo Loco'" 
    [technologies]="'JavaScript | HTML | CSS'" 
    [description]="'A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and poison bottles to fight against el pollo loco.'"
    [testLink]="'https://elpolloloco.mario-haefs.de'"
    [gitLink]="'https://github.com/MarioHaefs/El_Pollo_Loco'"
></app-project-right>
<app-project-left 
    [imgSrc]="'/assets/img/simple-crm.png'" 
    [title]="'Simple-CRM'" 
    [technologies]="'Angular | Typescript | SCSS | HTML | Angular Material | Firebase | REST-API'" 
    [description]="'Comprehensive CRM solution that allows user management, real-time news updates from integrated APIs, and efficient calendar scheduling.'"
    [testLink]="'https://simplecrm.mario-haefs.de/'"
    [gitLink]="'https://github.com/MarioHaefs/simple-crm'"
></app-project-left>
<app-project-right 
    [imgSrc]="'/assets/img/ring_of_fire.png'" 
    [title]="'Ring of Fire'" 
    [technologies]="'Angular | Typescript | SCSS | HTML | Angular Material | Firebase'" 
    [description]="'Online Multiplayer Card Game inspired by the famous drinking game.'"
    [testLink]="'https://ringoffire.mario-haefs.de'"
    [gitLink]="'https://github.com/MarioHaefs/Ring_Of_Fire'"
></app-project-right>
<app-contact id="contact"></app-contact>