.my-skills-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    position: relative;
}

.my-skills-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    h1 {
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 16px;
        margin-top: 0;
        white-space: nowrap;
    }
}

.my-skills-icon-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;


    img {
        height: 60px;
        width: 60px;
        margin-bottom: 8px;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;

        &:hover {
            animation-name: bounce;
        }
    }
}

@keyframes bounce {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.my-skills-line {
    width: 60px;
    height: 0px;
    border: 2px solid #FF4747;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0;
}

.h1-container {
    display: flex;
    align-items: center;
}

.single-icon-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-weight: 700;
    width: 70px;
    text-align: center;
}

.my-skills-button {
    width: 200px;
    white-space: nowrap;
    margin-top: 32px;
    z-index: 5;
}

.blur3 {
    position: absolute;
    left: -250px;
    top: 50%;
    transform: rotate(40deg);
    z-index: -1;
}

@media (max-width: 1470px) {
    .my-skills-headline-container {
        h1 {
            font-size: 70px;
        }
    }
}

@media (max-width: 1100px) {
    .my-skills-headline-container {
        h1 {
            font-size: 60px;
        }
    }
}

@media (max-width: 970px) {
    .my-skills-container {
        flex-direction: column;
    }

    .my-skills-headline-container {
        order: 1;
        width: auto;
        align-items: flex-end;
    }

    .my-skills-icon-container {
        justify-content: center;
        order: 2;
        width: auto;
        margin-top: 64px;
        margin-bottom: 100px;
    }

    .my-skills-button {
        align-self: center;
        position: absolute;
        top: 90%;
    }

    .mobile-float {
        text-align: right;
    }
}

@media (max-width: 800px) {
    .my-skills-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .my-skills-icon-container {
        img {
            height: 50px;
            width: 50px;
        }
    }

    .my-skills-line {
        width: 30px;
        top: 6%;
    }

    .my-skills-headline-container {
        h1 {
            font-size: 50px;
        }
    }

    .my-skills-button {
        width: 180px;
    }

    .blur3 {
        height: 300px;
        left: -10%;
    }
}

@media (max-width: 699px) {
    .my-skills-line {
        top: 5%;
    }
}

@media (max-width: 600px) {
    .my-skills-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .my-skills-line {
        width: 10px;
    }
}

@media (max-width: 500px) {
    .my-skills-headline-container {
        h1 {
            font-size: 45px;
        }
    }

    .single-icon-container {
        margin-left: 32px;
        margin-right: 32px;
    }

    .my-skills-line {
        top: 33px;
    }

    .blur3 {
        left: -20%;
        top: 65%;
    }
}