<div class="impressum-content">
    <img routerLink="/main-page" class="arrow-back" src="/assets/img/arrow_back.png">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Mario Haefs<br />
        Peter-Micke-Straße 11<br />
        41179 Mönchengladbach</p>

    <h2>Kontakt</h2>
    <p>Telefon: +49 (0) 176 349 362 73<br/>
        E-Mail: mariohaefs@t-online.de</p>

    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>

    <app-data-protection></app-data-protection>
</div>