<div class="welcome-content">
    <img class="blur-group-img" src="/assets/img/blur_group.png">
    <img class="body-img" src="/assets/img/placeholder.png">


    <div class="i-am-container">
        <div class="i-am-text">
            <span>I am</span>
        </div>
        <div class="presentation-container">
            <span class="my-name">Mario Haefs</span>
            <span class="job-title red">FRONTEND DEVELOPER</span>
            <div class="button-center">
                <button class="lets-talk-button">Let's talk!</button>
            </div>
        </div>
    </div>

    <img class="tail-img" src="/assets/img/tail.png">

    <div>
        <img class="social-line" src="/assets/img/line_socials.png">
        <img class="social-line github-icon" src="/assets/img/github.png">
        <img class="social-line email-icon" src="/assets/img/email.png">
        <img class="social-line linkedin-icon" src="/assets/img/linkedin.png">
        <a class="social-line email-link" href="#">MarioHaefs@t-online.de</a>
        <span class="scroll-down">Scroll down <img class="arrow-down" src="/assets/img/arrow_down.png"></span>
    </div>
</div>