<div class="welcome-container">
    <div class="body-img-container">
        <img class="blur-group-img" src="/assets/img/blur_group.png">
        <img class="body-img" src="/assets/img/placeholder.png">
    </div>

    <div class="i-am-container">
        <div class="i-am-text">
            <span>I am</span>
        </div>
        <div class="presentation-container">
            <span class="my-name">Mario Haefs</span>
            <span class="job-title red">Frontend Developer</span>
            <div class="button-center">
                <button class="lets-talk-button">Let's talk!</button>
            </div>
        </div>
    </div>
</div>