.welcome-content {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.body-img {
    height: 700px;
    width: 700px;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    z-index: 8;
}

.blur-group-img {
    position: absolute;
    left: 0%;
    top: 15%;
    height: 700px;
    width: 700px;
    z-index: 8;
}

.i-am-container {
    display: flex;
    position: absolute;
    right: 0;
    top: 30%;
    padding-right: 100px;
    z-index: 8;
}

.i-am-text {
    font-size: 61px;
    transform: rotate(-90deg);
    height: 100px;
    width: 150px;
    position: absolute;
    top: 16%;
    right: 95%;
}

.my-name {
    font-size: 90px;
    font-weight: 700;
    height: 100px;
    letter-spacing: 4px;
}

.job-title {
    font-size: 55.5px;
    height: 100px;
}

.presentation-container {
    display: flex;
    flex-direction: column;
}

.button-center {
    display: flex;
    justify-content: center;
}

.lets-talk-button {
    background-color: #FA7902;
    width: 150px;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border: 1px;
    cursor: pointer;

    & {
        transition: background-color 0.2s ease, transform 0.2s ease;
    }

    &:hover {
        background-color: #FF4747;
        transform: scale(1.2);
    }
}

.tail-img {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.social-line {
    position: absolute;
    bottom: 5%;
}

.github-icon {
    left: 10%;
    bottom: 4%;
    cursor: pointer;
    z-index: 9;
    height: 30px;

    &:hover {
        transform: scale(1.1);
    }
}

.email-icon {
    bottom: 4%;
    left: 15%;
    cursor: pointer;
    z-index: 9;
    height: 30px;

    &:hover {
        transform: scale(1.1);
    }
}

.linkedin-icon {
    bottom: 4%;
    left: 20%;
    cursor: pointer;
    z-index: 9;
    height: 30px;

    &:hover {
        transform: scale(1.2);
    }
}

.email-link {
    text-decoration: none;
    color: white;
    left: 25%;
    bottom: 4%;
    font-size: 23px;
    cursor: pointer;
    z-index: 9;
}

.arrow-down {
    transform: rotate(-90deg);  
    position: absolute; 
    top: 0;
    padding-top: 20px;
}

.scroll-down {
    font-size: 20px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 10%;
    right: 0%;
    z-index: 5;
}


