.welcome-content {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.body-img {
    height: 700px;
    width: 700px;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    z-index: 8;
}

.blur-group-img {
    position: absolute;
    left: 0%;
    top: 15%;
    height: 700px;
    width: 700px;
    z-index: 8;
}

.i-am-container {
    display: flex;
    position: absolute;
    right: 0;
    top: 30%;
    padding-right: 100px;
    z-index: 8;
}

.i-am-text {
    font-size: 61px;
    transform: rotate(-90deg);
    height: 100px;
    width: 150px;
    position: absolute;
    top: 16%;
    right: 95%;
}

.my-name {
    font-size: 90px;
    font-weight: 700;
    height: 100px;
    letter-spacing: 4px;
}

.job-title {
    font-size: 55.5px;
    height: 100px;
}

.presentation-container {
    display: flex;
    flex-direction: column;
}

.tail-img {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.social-line {
    width: 100px;
    height: 0px;
    border: 2px solid #FF4747;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.socials-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 8;
}

.email-link {
    text-decoration: none;
    color: white;
    left: 25%;
    bottom: 4%;
    font-size: 23px;
    cursor: pointer;
    z-index: 9;
}

.arrow-down {
    transform: rotate(-90deg);  
    position: absolute; 
    top: 0;
    padding-top: 20px;
}

.scroll-down {
    font-size: 20px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 10%;
    right: 0%;
    z-index: 5;
}

.button-center {
    display: flex;
    justify-content: center;
}
