html {
    background-color: #141D2F;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    scroll-behavior: smooth;
}

.red {
    color: #FF4747;
}

.orange {
    color: #FA7902;
}
