html {
    background-color: #141D2F;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.red {
    color: #FF4747;
}

.orange {
    color: #FA7902;
}

.orange-button {
    font-family: 'Poppins', sans-serif;
    background-color: #FA7902;
    width: 150px;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border: 1px;
    cursor: pointer;

    & {
        transition: background-color 0.2s ease, transform 0.2s ease;
    }

    &:hover {
        background-color: #FF4747;
        transform: scale(1.2);
    }
}

.social-icon {
    cursor: pointer;
    z-index: 9;
    height: 30px;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}

.a-height {
    height: 30px;
}

.d-none {
    display: none;
}


//*** Project Design ***//

.project-img {
    height: 300px;
}

.project-img-container {
    margin-right: 200px;
}

.project {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 200px;
}

.project-info {
    width: 427.5px;
}

.project-h2 {
    color: #FF4747;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-h3 {
   color: #FA7902;
   font-size: 24px;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 16px;
}

.button-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.button-red {
    font-family: 'Poppins', sans-serif;
    background-color: #FF4747;
    width: 150px;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;

    &:hover {
        background-color: #FA7902;
    }
}

.button-transparent {
    font-family: 'Poppins', sans-serif;
    background-color: #141D2F;
    border: 1px solid #FA7902;
    width: 150px;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #FA7902;
    } 
}

.margin-right {
    margin-right: 32px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

@media (max-width: 1080px) {
    .project-img-container {
        margin-right: 100px;
    }
}

@media (max-width: 970px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-img-container {
        margin-right: 0px;
    }

    .project-info {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .project {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 600px) {
    .project {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .project-info {
        width: 300px;
    }

    .project-img { 
        width: 300px;
        height: auto;
    }

    .project {
        margin-bottom: 100px;
    }
}